APP_AUTH_TOKEN_SECRET=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GITHUB_CLIENT_ID=
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GITHUB_CLIENT_SECRET=
SPRING_PROFILES_ACTIVE=
MANAGEMENT_METRICS_TAGS_APPLICATION=
MANAGEMENT_METRICS_TAGS_REGION=
MANAGEMENT_METRICS_TAGS_STACK=