<div class="home-page">
  <div class="container page" role="main">
    <div class="row">
      <div class="col col-md-12">
        <form class="border border-primary rounded">
          editor form
<!--          <fieldset>-->
<!--            <fieldset class="form-group">-->
<!--              <input class="form-control form-control-lg" type="text" placeholder="Article URL" bind:value={article.url}>-->
<!--            </fieldset>-->

<!--            <fieldset class="form-group">-->
<!--              <input class="form-control" type="text" placeholder="Article title" bind:value={article.title} />-->
<!--            </fieldset>-->

<!--            <fieldset class="form-group">-->
<!--			<textarea class="form-control" rows="8" placeholder="What's this article about?" bind:value={article.preambule}/>-->
<!--            </fieldset>-->

<!--            <fieldset class="form-group tags-input">-->
<!--              <Tags on:tags={handleTags} autoComplete={availableTags} onlyUnique={true} bind:tags={inputTags} />-->
<!--            </fieldset>-->

<!--            <button class="btn btn-lg pull-xs-right btn-primary" type="button" disabled={inProgress} on:click={publish}>-->
<!--              Publish Article-->
<!--            </button>-->
<!--          </fieldset>-->
        </form>
      </div>
    </div>
  </div>
</div>
