<form>
  <div class="form-row">
      <div class="form-group col-12">
        <input type="text"
               class="form-control is-loading is-loading-sm"
               id="inlineFormInputGroup"
               name="searchTerm"
               placeholder="search term"
               [(ngModel)]="articleService.searchTerm">

        <span class="spinner-border spinner-border-sm text-light"
              *ngIf="articleService.loading$ | async">
          <span class="sr-only">Loading...</span>
        </span>
      </div>
  </div>

  <table class="table">
    <tbody>
    <tr *ngFor="let article of articles$ | async">
      <td scope="row">
        <div class="alert alert-light" role="alert">
          <h4 class="alert-heading">
            <ngb-highlight [result]="article.title" [term]="articleService.searchTerm"></ngb-highlight>
          </h4>
          <p *ngIf="article.preamble">
            <ngb-highlight [result]="article.preamble" [term]="articleService.searchTerm"></ngb-highlight>
          </p>
          <hr>
          <div class="float-right">
            <a href="{{article.url}}" target="_blank"
               class="alert-link">Read more...</a>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!" [(page)]="articleService.page" [pageSize]="articleService.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="articleService.pageSize">
      <option [ngValue]="1">1 item per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="50">50 items per page</option>
    </select>
  </div>

</form>
