<form>
  <div class="form-row">
      <div class="form-group col-12">
        <input type="text"
               class="form-control is-loading is-loading-sm"
               name="searchTerm"
               placeholder="search term"
               [(ngModel)]="state.searchTerm">

        <span class="spinner-border spinner-border-sm text-light"
              *ngIf="loadingService.loading$ | async">
          <span class="sr-only">Loading...</span>
        </span>
      </div>
  </div>

  <table class="table">
    <tbody>
    <tr *ngFor="let article of articleService.articles$ | async; index as i">
      <td scope="row" *ngIf="article">
        <div class="alert alert-light" role="alert">
          <nav class="navbar navbar-expand-sm navbar-light bg-light rounded">
            <h4 class="navbar-brand alert-heading">
              <ngb-highlight [result]="article.title" [term]="state.searchTerm" [highlightClass]="'article-highlight'"></ngb-highlight>
            </h4>
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse"
                    data-target="#articleNavbar{{i}}"
                    aria-controls="articleNavbar{{i}}"
                    [attr.aria-expanded]="!isMenuCollapsed"
                    aria-label="Toggle navigation"
                    (click)="toggleCollapsed()">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="articleNavbar{{i}}"
                 [ngClass]="{'collapse': isMenuCollapsed}">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Edit</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Delete</a>
                </li>
              </ul>
            </div>
          </nav>


          <p *ngIf="article.preamble">
            <ngb-highlight [result]="article.preamble" [term]="state.searchTerm" [highlightClass]="'article-highlight'"></ngb-highlight>
          </p>
          <hr>
          <div class="float-right">
            <a href="{{article.url}}" target="_blank"
               class="alert-link">Read more...</a>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between"
  *ngIf="(articleService.total$ | async) > 0">
    <ngb-pagination
      [collectionSize]="(articleService.total$ | async)!"
      [(page)]="state.page"
      [pageSize]="state.pageSize">
    </ngb-pagination>

    <select class="custom-select w-auto" name="pageSize" [(ngModel)]="state.pageSize">
      <option [ngValue]="1">1 item per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="50">50 items per page</option>
    </select>
  </div>

</form>
